.modal-dialog-login {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 50% !important;
  border-radius: 0% !important;
  margin-left: 25vw;
  height: 60% !important;
  margin-top: 15vh;
  overflow-y: hidden !important;
  text-align: center;
}

.modal-content {
  width: 100% !important;
}

.form {
  padding: 16px;
  width: 500px;
  margin: 0 auto;
}

.segment {
  padding: 32px 0;
  text-align: center;
  color: #BABECC;
}

.button {
  padding: 16px;
}

button,
.input_login {
  border: 0;
  outline: 0;
  font-size: 16px;
  background-color: #EBECF0;
}

.button,
.input_login {
  border-radius: 320px !important;
  text-shadow: 1px 1px 0 #FFF;
}

.label {
  display: block;
  margin-bottom: 24px;
  width: 100%;
}

.input_login {
  margin-right: 8px;
  background-color: #EBECF0 !important;
  box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF !important;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  position:relative;
}

.input_login:focus {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF !important;
}

button {
  color: #797e8d;
  font-weight: bold;
  box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  padding: 12px;
  color: black;
}

.button{
  position: relative;
}

button:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

button:active {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.special_button{
  border-radius: 20px!important;
}

.special_button:checked {
  box-shadow: inset -6px -6px 10px #FFFFFF, inset 6px 6px 10px rgba(0, 0, 0, 0.25)!important;
}

.button.red {
  display: block;
  width: 100%;
  color: #AE1100;
  position: relative;
}

.forgot {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}

.button .icon {
  margin-right: 8px;
}

.button.unit {
  border-radius: 8px;
  line-height: 0;
  width: 88px;
  height: 88px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  font-weight: 900;
  position: relative;
}

.button.unit .icon {
  margin-right: 0;
}

@media screen and (max-width:700px) {
  .modal-dialog-login {
    display: flex !important;
    align-items: center !important;
    justify-content: start !important;
    width: 200% !important;
    border-radius: 0% !important;
    margin-left: 0;
    height: 100% !important;
    margin-top: 0;
    overflow-y: hidden !important;
  }
}

@media screen and (max-width:1200px) and (min-width:700px) {
  .modal-dialog-login {
    display: flex !important;
    align-items: center !important;
    justify-content: start !important;
    width: 100% !important;
    border-radius: 0% !important;
    margin-left: 0;
    height: 100% !important;
    margin-top: 0;
    overflow-y: hidden !important;
  }
}

::-webkit-input-placeholder {
  text-align: center;
  font-weight: 600;
  color: #804f4a;
  letter-spacing: 0.1cm;
}

.url{
  background-color: rgb(254, 246, 216);
  padding: 8px 0 8px 0;
  align-items: center;
  justify-content: center;
  display: flex;
}

.button_google{
margin-top: 5%!important;
margin-bottom: -5%!important;
}
