* {
	font-family: 'Lexend';
}

.back {
	background-color: #eff0f0 !important;
}

.container {
	overflow-x: hidden !important;
}

element.style {
	box-shadow: 4px 4px 4px 4px rgb(0 0 0 / 25%);
	background: #ededed;
}

.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-left {
  background-image: none !important;
}

.forgot_pass {
	overflow: hidden;
}

.modal_main {
	border-radius: 8px;
}

.logo {
	margin-left: 110px;
	font-size: 25px;
	margin-right: 40px;
}

.shadow {
	box-shadow: 5px 5px 13px #2b2c2d, -5px -5px 5px #ffffff !important;
}

.to_make_center {
	margin-left: -7% !important;
}

.modal-dialog {
	width: 50% !important;
}

.modal-dialog-app {
	width: 130% !important;
}

.card {
	border-radius: 0 !important;
	background: #ededed;
	box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
}

.p_50 {
	padding: 50px !important;
}

.my_icon {
	height: 100px;
	width: 100px;
}

.accordion-button {
	font-weight: bold;
}

.accordion-button:hover {
	color: rgb(29, 154, 154);

}

.mid-color {
	background-color: rgb(207, 236, 16);
	padding: 50px 50px 50px 10px;
	margin-bottom: 50px;
}

.line {
	border-left: 2px solid black;
	height: 110px;
	margin-left: 80px;
}

.help {
	margin: 50px 0px 20px 10px;
}

.my-dropdown {
	width: 100px;
}

.dropdown-menu{
	border-radius: 20px!important;
}

.bg-dark1 {
	background: black;
}

.sign-in {
	background: linear-gradient(to right, rgb(46, 47, 61), rgb(113, 204, 175)) !important;
}

.account {
	border: 1px solid #d7d7d7;
}

.m_l {
	margin-left: 50px;
}

.annexure {
	box-shadow: inset 6px 6px 6px rgba(151, 167, 195, 0.61);
	background-color: #E0E5EC;
}

.dashboard_table {
	height: 400px;
	overflow-y: scroll;
}

.vl {
	border-left: 5px solid rgb(0, 0, 0);
	height: 100px;
	margin-top: 20px;
}

.save_wallet {
	height: 590px;
	overflow-y: scroll;
}

.drop {
	width: 95%;
	padding: 0 !important;
	height: 200px;
	overflow-y: scroll;
}

.drop1 {
	width: 97%;
	padding: 0 !important;
	height: 120px;
	overflow-y: scroll;
}

::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-track {
	background-color: #ededed;
}

::-webkit-scrollbar-thumb {
	background-color: #000000;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

.list-items {
	padding: 20px;
	background: #ededed;
	/* box-shadow: 5px 5px 13px #2b2c2d, -5px -5px 5px #ffffff !important; */
}

.vertical-center {
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.page_fill_1 {
	padding-top: 180px;
	padding-bottom: 50px;
}

.page_fill_2 {
	padding-top: 180px;
	padding-bottom: 30px;
}

.page_fill_3 {
	padding-top: 80px;
	padding-bottom: 80px;
}

.coin {
	padding-left: 80%;
	font-size: 20px;
}

.balance {
	font-size: medium;
}

.news {
	height: 350px !important;
}

/* modify content */

/* first modal modification */
.content_oveflow {
	padding: 15px;
	display: flex;
	flex-direction: column;
}

.modal__header {
	text-align: center;
	margin-bottom: 10px;
	padding: 10px;
}

.modal__body {
	background-Color: #FFF;
	padding: 15px;
	border-Radius: .5em;
	bottom: 100px;
	top: 100px;
	overflow-y: auto;
}

.back__content {
	margin-right: 0px;
	display: flex;
	justify-Content: center;
	height: 75%;
	background-Color: rgba(0, 0, 0, .8);
	z-Index: 1000;
	overflow-y: auto;
}

/* button neomorphic */

/* .primary, */
.inverted {
	text-decoration: none;
	color: black;
	padding: 10px;
	outline: none;
	border: none;
	border-radius: 8px;
	font-size: 16px;
	font-weight: 600;
	transition: 0.3s all ease;
	cursor: pointer;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	background: #ededed;
}

.accept:hover {
	background: linear-gradient(145deg, #171717, #352222) !important;
	color: white !important;
}

.accept:active {
	background: linear-gradient(145deg, #171717, #352222) !important;
	color: white !important;
}

.inverted:not(:active):hover {
	background: linear-gradient(145deg, #d7d7d7, #ffffff);
	box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
}

.inverted:not(:active):focus {
	background: linear-gradient(145deg, #d7d7d7, #ffffff);
	box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
}

.inverted:active {
	background: linear-gradient(145deg, #d7d7d7, #ffffff);
	box-shadow: 2px 2px 4px #cbcbcb, -2px -2px 4px #ffffff;
}

.pressed {
	background: #ffffff;
	box-shadow: inset 4px 4px 8px #c9c9c9, inset -4px -4px 8px #ffffff;
}

.header__login__res {
	display: none;
}

.concave {
	background: linear-gradient(145deg, #d7d7d7, #ffffff);
	box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
	border-radius: 10px;

}

/* ul Term */
.border-dark {
	display: flex;
	justify-content: space-between;
}

.nav-link>a {
	text-decoration: none;
	color: rgba(0, 0, 0, .55)
}

/* footer css */
.footer__content {
	background-color: #f8f6f6 !important;
}

.footer__products {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

/* api section */
.easy__integration {
	display: flex;
	justify-content: center;
	text-align: center;
}

/* Card/ */
.column {
	flex-direction: column;
}

.row.vertical-center,
.column.horizontal-center {
	align-items: center;
}

.row.horizontal-center,
.column.vertical-center {
	justify-content: center;
}

/* Image */
.h_get_to_know_img {
	position: relative;
}

/* Input */
input[type=text],
input[type=number],
input[type=email],
input[type=password],
textarea {
	border-radius: 0;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	padding: 15px !important;
}

input[type=text]:focus,
[type=email]:focus,
[type=number]:focus,
input[type=password]:focus,
textarea:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid rgba(81, 203, 238, 1);
	border-radius: 4px;
	padding: 15px;
}

.input {
	position: relative;
	display: inline-block;
	overflow: hidden;
	background: white !important;
}

.input1 {
	position: relative;
	display: inline-block;
	overflow: hidden;
	background: #f0f0f0 !important;
}

.input>.txt-underline {
	outline: none;
}

.input1>.txt-underline {
	outline: none;
}

.underline {
	transition: all 0.5s;
	display: inline-block;
	bottom: 0;
	left: -100%;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: rgb(11, 62, 247);
	bottom: 24%;
}

.input>.txt-underline:focus+.underline {
	left: 0;
}

.input1>.txt-underline:focus+.underline {
	left: 0;
}

/* responsive */
@media screen and (min-width: 990px) {
	.modal-dialog {
		max-width: 100% !important;
		height: auto;
	}
}

@media screen and (min-width: 990px) {
	.modal {
		width: 120% !important;
		margin-left: -10%;
	}
}

@media screen and (max-width: 990px) {
	.modal {
		width: 185% !important;
		margin-left: -40%;
	}
}

@media screen and (max-width: 576px) {
	.modal {
		margin-left: 0;
	}
}

/* responsive dialog */
@media screen and (max-width: 990px) {
	.back__animation {
		display: none;
		width: 0%;
	}

	.welcome__dialog {
		padding: 10px;
		width: 100% !important;
	}
}

@media screen and (max-width:992px) {

	/* header_get_to_know */
	.h_get_to_know {
		width: 100% !important;
	}

	.h_get_to_know_img {
		width: 100% !important;
		margin-top: 43px !important;
	}

	.h_get_to_know_button {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 768px) {
	.login__two {
		display: flex;
		flex-direction: column;
	}

}

@media screen and (max-width:330px) {
	.modal__header>h1 {
		font-size: 20px;
	}
}

/* footer products */
@media screen and (max-width: 770px) {
	.footer__products {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.aladdin_for_wealth_managers {
		margin-top: 46px !important;
	}

	/* tow login */
	.page_fill_2 {
		padding-top: 20px !important;
	}
}

@media screen and (max-width: 480px) {
	.easy__integration {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}

/* sign out responsive */
.sign__out {
	margin-left: -4%;
}

@media screen and (max-width: 625px) {
	.sign__out {
		margin-left: -10% !important;
	}
}

/* contact section */
.contact__body {
	margin: 4rem 0 4rem 0 !important;
}

/* dashboard section */
.dashboard__body {
	margin: 4rem 0 4rem 0 !important;
}

.link_to_fa2 {
	color: #AE1100;
	padding-left: 15px;
}

.cross {
	cursor: pointer;
}

.link_to_fa2:hover {
	color: #AE1100;
	font-weight: 500;
}

.dashboard_logo {
	height: 20px;
	width: 20px;
	border-radius: 50%;
}

.dashboard__pending {
	width: 100%;
	margin-bottom: 8px;
}

@media screen and (max-width: 990px) {
	.dashboard__devision {
		display: none;
	}

	.dashboard__second__part {
		display: flex;
		flex-direction: column;
	}

	/* Order section */
	.order__body {
		display: flex;
		flex-direction: column;
	}

	.order__devision {
		display: none;
	}
}

#tradingview_widget_wrapper {
	padding: 0 !important;
}

.round-btn {
	border-radius: 320px !important;
	font-size: 19px !important;
	font-weight: 400 !important;
}

.welcome {
	font-weight: 500;
	font-size: 39px;
}

.welcome_1 {
	font-weight: 300;
	font-size: 32px;
	padding: 20px;
}

.special_card_account {
	border-radius: 20px !important;
	border: 2px solid transparent !important;
	background: linear-gradient(#eff0f0, #eff0f0),
		linear-gradient(#000000, #8F00FF) !important;
	background-clip: padding-box, border-box !important;
	background-origin: padding-box, border-box !important;
}

.special_card_profile {
	border-radius: 20px !important;
	border: 2px solid transparent !important;
	background: linear-gradient(#eff0f0, #eff0f0),
		linear-gradient(#A10088, #000000) !important;
	background-clip: padding-box, border-box !important;
	background-origin: padding-box, border-box !important;
}

.parent_card {
	border-radius: 20px !important;
	border: none !important;
}

.url {
	background: linear-gradient(90deg, #F97979 0%, #F97979 43.75%, #FFF3CA 100%);
}

.dashboard_img {
	width: 85px;
	height: 83px;
	margin-left: 25px;
	margin-top: 20px;
}

.swap {
	padding-right: 40px;
	padding-left: 40px;
}

.deposit_btn {
	padding-left: 30px;
	padding-right: 30px;
}

.buy {
	padding-left: 40px;
	padding-right: 40px;
}

.enable_scroll {
	height: 600px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.enable_scroll_2 {
	height: 700px;
	overflow-y: scroll;
}

.enable_scroll_3 {
	height: 370px;
	overflow-y: scroll;
}

.plain_text {
	font-size: 20px !important;
	font-weight: 0 !important;
}

.making_lines {
	border-left: 14px solid gray;
}

hr {
	margin: 0 !important;
}

.making_lines_end {
	border-right: 13px solid gray;
}

.place_order_btn {
	background: linear-gradient(270deg, #3787ff, #001aff, #000000);
	background-size: 600% 600%;
	color: #fff !important;

	-webkit-animation: AnimationName 7s ease infinite;
	-moz-animation: AnimationName 7s ease infinite;
	-o-animation: AnimationName 7s ease infinite;
	animation: AnimationName 7s ease infinite;
}

#toggle {
	visibility: hidden;
}

#toggle:checked+.switch_toggle {
	transform: rotate(360deg);
	background-color: #000;
}

#toggle:checked+.switch_toggle:before {
	transform: translateX(36px);
	background-color: #FFF;
}

.switch_toggle {
	display: flex;
	width: 60px;
	height: 20px;
	border: 2px solid;
	border-radius: 99em;
	position: relative;
	transition: transform 0.75s ease-in-out;
	transform-origin: 50% 50%;
	cursor: pointer;
}

.switch_toggle:before {
	transition: transform 0.75s ease;
	transition-delay: 0.5s;
	content: "";
	/* display: block; */
	position: relative;
	width: 14px;
	height: 14px;
	background-color: #000;
	border-radius: 50%;
	top: 1px;
	left: 2px;
}

.margin_bottom {
	margin-top: 4rem !important;
}

@-webkit-keyframes AnimationName {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes AnimationName {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}

@-o-keyframes AnimationName {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}

@keyframes AnimationName {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}

/* Escrow section */
.escrow__body {
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: space-between;
}

@media screen and (max-width:700px) {
	.escrow__body {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
	}

	.vl {
		display: none;
	}
}

/* Escrow account section */
@media screen and (max-width:1000px) {
	.escrow__account {
		display: flex !important;
		flex-direction: column !important;
	}
}

/* Animation Css */
/* ---- reset ---- */
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

canvas {
	background-color: transparent;
}

/* TradeView CSS */

.header-i7yYYmGG {
	display: none !important;
}


/* Sign up page */

.button.sign {
	display: block;
	width: 100%;
	color: #AE1100;
	margin-bottom: 20px;
}

.checks {
	margin-top: 25% !important;
	margin-bottom: 20% !important;
}

.to_sign {
	margin-top: 19vw !important;
}

/* arctic fox */

.fox {
	width: 470px;
	height: 335px;
	min-width: 470px;
	min-height: 335px;
}

.fox * {
	position: absolute;
}

.fox:after {
	content: '';
	display: block;
	position: absolute;
	width: 80%;
	height: 20px;
	border-radius: 100%;
	background: rgba(0, 0, 0, 0.2);
	bottom: -10px;
	left: 10%;
	z-index: -1;
}

@-webkit-keyframes log {

	from,
	to {
		transform: rotate(-30deg);
	}

	50% {
		transform: rotate(25deg);
	}
}

@keyframes log {

	from,
	to {
		transform: rotate(-30deg);
	}

	50% {
		transform: rotate(25deg);
	}
}

@-webkit-keyframes log-inner {

	from,
	to {
		transform: rotate(15deg);
	}

	50% {
		transform: rotate(-15deg);
	}
}

@keyframes log-inner {

	from,
	to {
		transform: rotate(15deg);
	}

	50% {
		transform: rotate(-15deg);
	}
}

@-webkit-keyframes hind-log {

	from,
	to {
		transform: rotate(-20deg);
	}

	50% {
		transform: rotate(15deg);
	}
}

@keyframes hind-log {

	from,
	to {
		transform: rotate(-20deg);
	}

	50% {
		transform: rotate(15deg);
	}
}

@-webkit-keyframes hind-log-inner {

	from,
	to {
		transform: rotate(50deg);
	}

	50% {
		transform: rotate(30deg);
	}
}

@keyframes hind-log-inner {

	from,
	to {
		transform: rotate(50deg);
	}

	50% {
		transform: rotate(30deg);
	}
}

.leg-outer {
	bottom: 0;
	right: 127px;
	-webkit-animation: leg-outer 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	animation: leg-outer 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	z-index: 1;
}

@-webkit-keyframes leg-outer {

	0%,
	100% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-76px);
	}
}

@keyframes leg-outer {

	0%,
	100% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-76px);
	}
}

.hind-leg-outer {
	bottom: 0;
	right: 263px;
	-webkit-animation: leg-outer 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	animation: leg-outer 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	-webkit-animation-delay: -0.225s;
	animation-delay: -0.225s;
	z-index: 1;
}

.leg {
	bottom: 0;
	-webkit-animation: leg 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	animation: leg 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
}

@-webkit-keyframes leg {
	75% {
		transform: translateY(-20px);
	}

	from,
	40%,
	to {
		transform: translateY(0);
	}
}

@keyframes leg {
	75% {
		transform: translateY(-20px);
	}

	from,
	40%,
	to {
		transform: translateY(0);
	}
}

.hind-leg-outer2 {
	bottom: 0;
	-webkit-animation: leg 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	animation: leg 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	-webkit-animation-delay: -0.225s;
	animation-delay: -0.225s;
}

.paw,
.hind-paw {
	bottom: 100%;
	width: 10px;
	height: 12px;
	transform-origin: bottom center;
	border-radius: 5px;
	background: #000;
}

.paw:after,
.hind-paw:after {
	-webkit-animation: paw 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	animation: paw 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	content: '';
	position: absolute;
	display: block;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 200%;
	background: #000;
	border-radius: 100px;
	transform-origin: 5px center;
}

@-webkit-keyframes paw {

	10%,
	to {
		transform: rotate(10deg);
	}

	20%,
	40% {
		transform: rotate(10deg);
	}

	70% {
		transform: rotate(120deg);
	}
}

@keyframes paw {

	10%,
	to {
		transform: rotate(10deg);
	}

	20%,
	40% {
		transform: rotate(10deg);
	}

	70% {
		transform: rotate(120deg);
	}
}

.hind-paw {
	-webkit-animation-delay: -0.225s;
	animation-delay: -0.225s;
}

.log,
.hind-log {
	bottom: calc(100% - 5px);
	width: 10px;
	height: 44px;
	transform-origin: bottom center;
	transform: rotate(5deg);
	background: black;
	border-bottom-right-radius: 50% 100%;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.log:after,
.hind-log:after {
	content: '';
	display: block;
	position: absolute;
	height: 100%;
	width: 75%;
	right: 0;
	background: black;
	transform-origin: right bottom;
	transform: rotate(9deg);
	border-top-right-radius: 8px;
}

.log {
	-webkit-animation: log 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	animation: log 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
}

.hind-log {
	-webkit-animation: hind-log 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	animation: hind-log 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	-webkit-animation-delay: -0.225s;
	animation-delay: -0.225s;
}

.log-inner,
.hind-log-inner {
	z-index: 1;
}

.log-inner {
	bottom: calc(100% - 8px);
	width: 15px;
	height: 65px;
	transform-origin: bottom center;
	-webkit-animation: log-inner 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	animation: log-inner 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	background-color: #E2DEE8;
	background-image: linear-gradient(to top, #000000, #000000 10px, rgba(0, 0, 0, 0) 11px, rgba(0, 0, 0, 0));
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.leg-outer+.leg-outer .log-inner,
.leg-outer+.leg-outer .log-inner:after {
	background-color: #C7C3D0;
}

.leg-outer+.leg-outer .log-inner:before {
	background: radial-gradient(farthest-side at bottom left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 99%, #c7c3d0);
}

.log-inner:before,
.log-inner:after {
	content: '';
	display: block;
	position: absolute;
}

.log-inner:before {
	right: 100%;
	background: radial-gradient(farthest-side at bottom left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 99%, #e2dee8);
	height: 90%;
	bottom: 0;
	width: 240%;
	border-top-left-radius: 100%;
}

.log-inner:after {
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	background-color: #E2DEE8;
	transform-origin: bottom right;
	transform: rotate(15deg);
	border-bottom-left-radius: 50% 100%;
	border-bottom-right-radius: 5px;
	background-image: linear-gradient(-15deg, #000000, #000000 9.5px, rgba(0, 0, 0, 0) 9.5px, rgba(0, 0, 0, 0));
}

.hind-log-inner {
	bottom: calc(100% - 7px);
	width: 15px;
	left: -1px;
	height: 80px;
	transform-origin: bottom center;
	-webkit-animation: hind-log-inner 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	animation: hind-log-inner 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	-webkit-animation-delay: -0.225s;
	animation-delay: -0.225s;
	background-color: #E2DEE8;
	background-image: linear-gradient(to top, #000000, #000000 12px, rgba(0, 0, 0, 0) 12px, rgba(0, 0, 0, 0));
}

.hind-log-inner:before,
.hind-log-inner:after {
	content: '';
	display: block;
	position: absolute;
}

.hind-log-inner:before {
	right: 100%;
	background: radial-gradient(farthest-side at bottom left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 99%, #e2dee8);
	height: 90%;
	bottom: 0;
	width: 240%;
	border-top-left-radius: 100%;
}

.hind-log-inner:after {
	left: 100%;
	left: 100%;
	height: 100%;
	width: 34px;
	background-color: #E2DEE8;
	border-bottom-right-radius: 100% 100%;
	transform-origin: bottom left;
	transform: skewY(-38deg);
	background-image: linear-gradient(38deg, #000000, #000000 10px, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0));
}

.hind-leg-outer+.hind-leg-outer .hind-log-inner:before {
	background: radial-gradient(farthest-side at bottom left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 99%, #c7c3d0);
}

.leg-outer+.leg-outer {
	z-index: 0;
}

.leg-outer+.leg-outer,
.leg-outer+.leg-outer *,
.leg-outer+.leg-outer *:after {
	-webkit-animation-delay: -0.45s !important;
	animation-delay: -0.45s !important;
}

.hind-paw:after {
	-webkit-animation-delay: -0.225s;
	animation-delay: -0.225s;
}

.hind-leg-outer+.hind-leg-outer {
	z-index: 0;
}

.hind-leg-outer+.hind-leg-outer,
.hind-leg-outer+.hind-leg-outer *,
.hind-leg-outer+.hind-leg-outer *:after {
	-webkit-animation-delay: -0.675s;
	animation-delay: -0.675s;
}

.hind-leg-outer+.hind-leg-outer .hind-log-inner,
.hind-leg-outer+.hind-leg-outer .hind-log-inner:after {
	background-color: #C7C3D0;
}

.body {
	top: 50%;
	left: 170px;
	height: 90px;
	width: 173px;
	background: #E2DEE8;
	border-top-left-radius: 25% 50%;
	border-bottom-left-radius: 25% 50%;
	border-bottom-right-radius: 25% 50%;
	transform-origin: right center;
	-webkit-animation: body 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	animation: body 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	-webkit-animation-duration: 0.45s;
	animation-duration: 0.45s;
	-webkit-animation-delay: -0.225s;
	animation-delay: -0.225s;
}

@-webkit-keyframes body {

	from,
	to {
		transform: rotate(-1deg);
	}

	50% {
		transform: rotate(1deg);
	}
}

@keyframes body {

	from,
	to {
		transform: rotate(-1deg);
	}

	50% {
		transform: rotate(1deg);
	}
}

.body:before {
	content: '';
	display: block;
	position: absolute;
	height: 50px;
	width: 50px;
	background: #E2DEE8;
	z-index: 1;
	border-top-right-radius: 10px;
	right: 3px;
	top: -3px;
	transform: rotate(15deg);
}

.head {
	position: absolute;
	height: 87px;
	width: 112px;
	bottom: 89%;
	left: 65%;
	border-top-left-radius: 40% 60%;
	border-top-right-radius: 60% 20%;
	background: #E2DEE8;
	-webkit-animation: head 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	animation: head 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	-webkit-animation-duration: 0.45s;
	animation-duration: 0.45s;
	-webkit-animation-delay: -0.225s;
	animation-delay: -0.225s;
	transform-origin: center bottom;
	z-index: 0;
	transform-style: preserve-3d;
}

@-webkit-keyframes head {

	from,
	to {
		transform: rotate(0);
	}

	50% {
		transform: translateY(2px) rotate(-2deg);
	}
}

@keyframes head {

	from,
	to {
		transform: rotate(0);
	}

	50% {
		transform: translateY(2px) rotate(-2deg);
	}
}

.head:before,
.head:after {
	content: '';
	display: block;
	position: absolute;
}

.head:before {
	width: 15px;
	height: 15px;
	right: 100%;
	bottom: 9px;
	background-image: radial-gradient(ellipse farthest-side at top left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 99%, #e2dee8 99.1%);
}

.head:after {
	width: 50px;
	height: 40px;
	top: calc(100% - 1px);
	left: 50%;
	background-image: radial-gradient(ellipse farthest-side at bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 99%, #f0e9ec 99.1%);
}

.face {
	width: 84px;
	height: 72px;
	bottom: 0;
	right: 5px;
	background: #F0E9EC;
	border-top-left-radius: 60% 100%;
	border-top-right-radius: 40% 10%;
	z-index: 2;
	-webkit-animation: face 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	animation: face 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
}

@-webkit-keyframes face {

	from,
	to {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-2px);
	}
}

@keyframes face {

	from,
	to {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-2px);
	}
}

.face:before,
.face:after {
	content: '';
	display: block;
	position: absolute;
	background: black;
	-webkit-animation: eye 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	animation: eye 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
}

@-webkit-keyframes eye {

	from,
	to {
		transform: rotate(-12deg);
	}

	50% {
		transform: translateX(-2px) rotate(-12deg);
	}
}

@keyframes eye {

	from,
	to {
		transform: rotate(-12deg);
	}

	50% {
		transform: translateX(-2px) rotate(-12deg);
	}
}

.face:before {
	height: 4px;
	width: 25px;
	border-radius: 2px;
	top: 13px;
	right: 10px;
}

.face:after {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	top: 23px;
	right: 15px;
}

.snout {
	width: 36px;
	height: 24px;
	left: calc(100% - 5px);
	bottom: 0;
	border-bottom-right-radius: 100%;
	background-color: #F0E9EC;
	background-image: radial-gradient(circle 6px at top right, #000000, #000000 99%, rgba(0, 0, 0, 0) 99%);
	transform-origin: right;
	-webkit-animation: snout 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	animation: snout 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
}

@-webkit-keyframes snout {

	from,
	to {
		transform: scale(1);
	}

	50% {
		transform: scaleX(1.05);
	}
}

@keyframes snout {

	from,
	to {
		transform: scale(1);
	}

	50% {
		transform: scaleX(1.05);
	}
}

.snout:before,
.snout:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 100%;
	left: 5px;
	width: calc(100% - 5px);
	height: 40px;
	background-image: radial-gradient(ellipse farthest-side at top right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 99%, #e2dee8 99.1%);
}

.snout:before {
	-webkit-animation: snout-outer 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	animation: snout-outer 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
}

@-webkit-keyframes snout-outer {
	50% {
		transform: scaleX(0.93);
	}
}

@keyframes snout-outer {
	50% {
		transform: scaleX(0.93);
	}
}

.snout:after {
	background-image: radial-gradient(ellipse farthest-side at top right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 99%, #f0e9ec 99.1%);
	left: 0;
}

.tail {
	border-radius: 50%;
	background: #E2DEE8;
	width: 1rem;
	height: 1rem;
}

.body>.tail {
	height: 20;
	width: 20;
	left: 10px;
	transform: rotate(58deg);
}

.body>.tail .tail {
	right: 100%;
	border-color: green;
	z-index: -1;
}

.body>.tail>.tail {
	height: 36px;
	width: 36px;
	top: -8px;
	-webkit-animation: tail-2 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	animation: tail-2 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	-webkit-animation-delay: -0.225s;
	animation-delay: -0.225s;
	transform-origin: calc(100% + 10px);
	transform: rotate(0);
}

@-webkit-keyframes tail-2 {

	from,
	to {
		transform: rotate(0);
	}

	50% {
		transform: rotate(0);
	}
}

@keyframes tail-2 {

	from,
	to {
		transform: rotate(0);
	}

	50% {
		transform: rotate(0);
	}
}

.body>.tail>.tail:before,
.body>.tail>.tail:after {
	content: '';
	left: 50%;
	position: absolute;
	height: 50%;
	width: 26.83282px;
	display: block;
	background: #E2DEE8;
}

.body>.tail>.tail:after {
	bottom: 0;
	transform-origin: top left;
	transform: rotate(-16.60156deg);
}

.body>.tail>.tail:before {
	transform-origin: bottom left;
	transform: rotate(16.60156deg);
}

.body>.tail>.tail2>.tail {
	height: 70px;
	width: 70px;
	top: -25px;
	-webkit-animation: tail2-2 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	animation: tail2-2 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	-webkit-animation-delay: -0.225s;
	animation-delay: -0.225s;
	transform-origin: calc(100% + 10px);
	transform: rotate(-30deg);
}

@-webkit-keyframes tail2-2 {

	from,
	to {
		transform: rotate(-33deg);
	}

	50% {
		transform: rotate(-30deg);
	}
}

@keyframes tail2-2 {

	from,
	to {
		transform: rotate(-33deg);
	}

	50% {
		transform: rotate(-30deg);
	}
}

.body>.tail>.tail2>.tail:before,
.body>.tail>.tail2>.tail:after {
	content: '';
	left: 50%;
	position: absolute;
	height: 50%;
	width: 37.41657px;
	display: block;
	background: #E2DEE8;
}

.body>.tail>.tail2>.tail:after {
	bottom: 0;
	transform-origin: top left;
	transform: rotate(-33.74902deg);
}

.body>.tail>.tail2>.tail:before {
	transform-origin: bottom left;
	transform: rotate(33.74902deg);
}

.body>.tail>.tail>.tail {
	height: 93px;
	width: 93px;
	top: -28.5px;
	-webkit-animation: tail-3 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	animation: tail-3 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	-webkit-animation-delay: -0.225s;
	animation-delay: -0.225s;
	transform-origin: calc(100% + 18px);
	transform: rotate(-24deg);
}

@-webkit-keyframes tail-3 {

	from,
	to {
		transform: rotate(-30deg);
	}

	50% {
		transform: rotate(-24deg);
	}
}

@keyframes tail-3 {

	from,
	to {
		transform: rotate(-30deg);
	}

	50% {
		transform: rotate(-24deg);
	}
}

.body>.tail>.tail>.tail:before,
.body>.tail>.tail>.tail:after {
	content: '';
	left: 50%;
	position: absolute;
	height: 50%;
	width: 57.8619px;
	display: block;
	background: #E2DEE8;
}

.body>.tail>.tail>.tail:after {
	bottom: 0;
	transform-origin: top left;
	transform: rotate(-26.22267deg);
}

.body>.tail>.tail>.tail:before {
	transform-origin: bottom left;
	transform: rotate(26.22267deg);
}

.body>.tail>.tail2>.tail>.tail {
	height: 120px;
	width: 120px;
	top: -25px;
	-webkit-animation: tail2-3 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	animation: tail2-3 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	-webkit-animation-delay: -425ms;
	animation-delay: -425ms;
	background: linear-gradient(45deg, #f0e9ec 25%, rgba(0, 0, 0, 0) 25%), linear-gradient(135deg, #f0e9ec 25%, rgba(0, 0, 0, 0) 25%) 0 0, linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 66%, #f0e9ec 66%);
	background-size: 40px 40px, 40px 40px, 100%;
	background-position: center;
	background-color: #E2DEE8;
	background-repeat: repeat-y;
	transform-origin: calc(100% + 35px);
	transform: rotate(-30deg);
}

@-webkit-keyframes tail2-3 {

	from,
	to {
		transform: rotate(-35deg);
	}

	50% {
		transform: rotate(-30deg);
	}
}

@keyframes tail2-3 {

	from,
	to {
		transform: rotate(-35deg);
	}

	50% {
		transform: rotate(-30deg);
	}
}

.body>.tail>.tail2>.tail>.tail:before,
.body>.tail>.tail2>.tail>.tail:after {
	content: '';
	left: 50%;
	position: absolute;
	height: 50%;
	width: 91.65151px;
	display: block;
	background: #E2DEE8;
}

.body>.tail>.tail2>.tail>.tail:after {
	bottom: 0;
	transform-origin: top left;
	transform: rotate(-15.25754deg);
}

.body>.tail>.tail2>.tail>.tail:before {
	transform-origin: bottom left;
	transform: rotate(15.25754deg);
}

.body>.tail>.tail>.tail>.tail {
	height: 98px;
	width: 98px;
	top: -2.5px;
	-webkit-animation: tail-4 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	animation: tail-4 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	-webkit-animation-delay: -425ms;
	animation-delay: -425ms;
	background: #F0E9EC !important;
	transform-origin: calc(100% + 46.5px);
	transform: rotate(-17deg);
}

.body>.tail>.tail>.tail>.tail:before {
	background: linear-gradient(to right, #f0e9ec, #e2dee8) !important;
}

@-webkit-keyframes tail-4 {

	from,
	to {
		transform: rotate(-24deg);
	}

	50% {
		transform: rotate(-17deg);
	}
}

@keyframes tail-4 {

	from,
	to {
		transform: rotate(-24deg);
	}

	50% {
		transform: rotate(-17deg);
	}
}

.body>.tail>.tail>.tail>.tail:before,
.body>.tail>.tail>.tail>.tail:after {
	content: '';
	left: 50%;
	position: absolute;
	height: 50%;
	width: 95.46727px;
	display: block;
	background: #E2DEE8;
}

.body>.tail>.tail>.tail>.tail:after {
	bottom: 0;
	transform-origin: top left;
	transform: rotate(-1.50006deg);
}

.body>.tail>.tail>.tail>.tail:before {
	transform-origin: bottom left;
	transform: rotate(1.50006deg);
}

.body>.tail>.tail2>.tail>.tail>.tail {
	height: 50px;
	width: 50px;
	top: 35px;
	-webkit-animation: tail2-4 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	animation: tail2-4 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	-webkit-animation-delay: -0.225s;
	animation-delay: -0.225s;
	transform-origin: calc(100% + 60px);
	transform: rotate(27deg);
}

.body>.tail>.tail2>.tail>.tail>.tail:before {
	display: none !important;
}

.body>.tail>.tail2>.tail>.tail>.tail,
.body>.tail>.tail2>.tail>.tail>.tail:before,
.body>.tail>.tail2>.tail>.tail>.tail:after {
	background: #F0E9EC !important;
}

@-webkit-keyframes tail2-4 {

	from,
	to {
		transform: rotate(5deg);
	}

	50% {
		transform: rotate(27deg);
	}
}

@keyframes tail2-4 {

	from,
	to {
		transform: rotate(5deg);
	}

	50% {
		transform: rotate(27deg);
	}
}

.body>.tail>.tail2>.tail>.tail>.tail:before,
.body>.tail>.tail2>.tail>.tail>.tail:after {
	content: '';
	left: 50%;
	position: absolute;
	height: 50%;
	width: 77.45967px;
	display: block;
	background: #E2DEE8;
}

.body>.tail>.tail2>.tail>.tail>.tail:after {
	bottom: 0;
	transform-origin: top left;
	transform: rotate(24.31576deg);
}

.body>.tail>.tail2>.tail>.tail>.tail:before {
	transform-origin: bottom left;
	transform: rotate(-24.31576deg);
}

.body>.tail>.tail>.tail>.tail>.tail {
	height: 36px;
	width: 36px;
	top: 31px;
	-webkit-animation: tail-5 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	animation: tail-5 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	-webkit-animation-delay: -0.225s;
	animation-delay: -0.225s;
	transform-origin: calc(100% + 49px);
	transform: rotate(41deg);
}

.body>.tail>.tail>.tail>.tail>.tail,
.body>.tail>.tail>.tail>.tail>.tail:before,
.body>.tail>.tail>.tail>.tail>.tail:after {
	background: #F0E9EC !important;
}

@-webkit-keyframes tail-5 {

	from,
	to {
		transform: rotate(10deg);
	}

	50% {
		transform: rotate(41deg);
	}
}

@keyframes tail-5 {

	from,
	to {
		transform: rotate(10deg);
	}

	50% {
		transform: rotate(41deg);
	}
}

.body>.tail>.tail>.tail>.tail>.tail:before,
.body>.tail>.tail>.tail>.tail>.tail:after {
	content: '';
	left: 50%;
	position: absolute;
	height: 50%;
	width: 59.39697px;
	display: block;
	background: #E2DEE8;
}

.body>.tail>.tail>.tail>.tail>.tail:after {
	bottom: 0;
	transform-origin: top left;
	transform: rotate(27.56063deg);
}

.body>.tail>.tail>.tail>.tail>.tail:before {
	transform-origin: bottom left;
	transform: rotate(-27.56063deg);
}

.body>.tail>.tail2>.tail>.tail>.tail>.tail {
	height: 20px;
	width: 20px;
	top: 15px;
	-webkit-animation: tail2-5 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	animation: tail2-5 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	-webkit-animation-delay: -0.225s;
	animation-delay: -0.225s;
	transform-origin: calc(100% + 25px);
	transform: rotate(23deg);
}

.body>.tail>.tail2>.tail>.tail>.tail>.tail,
.body>.tail>.tail2>.tail>.tail>.tail>.tail:before,
.body>.tail>.tail2>.tail>.tail>.tail>.tail:after {
	background: #F0E9EC !important;
}

@-webkit-keyframes tail2-5 {

	from,
	to {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(23deg);
	}
}

@keyframes tail2-5 {

	from,
	to {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(23deg);
	}
}

.body>.tail>.tail2>.tail>.tail>.tail>.tail:before,
.body>.tail>.tail2>.tail>.tail>.tail>.tail:after {
	content: '';
	left: 50%;
	position: absolute;
	height: 50%;
	width: 31.62278px;
	display: block;
	background: #E2DEE8;
}

.body>.tail>.tail2>.tail>.tail>.tail>.tail:after {
	bottom: 0;
	transform-origin: top left;
	transform: rotate(25.37695deg);
}

.body>.tail>.tail2>.tail>.tail>.tail>.tail:before {
	transform-origin: bottom left;
	transform: rotate(-25.37695deg);
}

.body>.tail>.tail>.tail>.tail>.tail>.tail {
	height: 15px;
	width: 15px;
	top: 10.5px;
	-webkit-animation: tail-6 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	animation: tail-6 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	-webkit-animation-delay: -0.225s;
	animation-delay: -0.225s;
	transform-origin: calc(100% + 18px);
	transform: rotate(10deg);
}

.body>.tail>.tail>.tail>.tail>.tail>.tail,
.body>.tail>.tail>.tail>.tail>.tail>.tail:before,
.body>.tail>.tail>.tail>.tail>.tail>.tail:after {
	background: #F0E9EC !important;
}

@-webkit-keyframes tail-6 {

	from,
	to {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(10deg);
	}
}

@keyframes tail-6 {

	from,
	to {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(10deg);
	}
}

.body>.tail>.tail>.tail>.tail>.tail>.tail:before,
.body>.tail>.tail>.tail>.tail>.tail>.tail:after {
	content: '';
	left: 50%;
	position: absolute;
	height: 50%;
	width: 23.2379px;
	display: block;
	background: #E2DEE8;
}

.body>.tail>.tail>.tail>.tail>.tail>.tail:after {
	bottom: 0;
	transform-origin: top left;
	transform: rotate(24.31576deg);
}

.body>.tail>.tail>.tail>.tail>.tail>.tail:before {
	transform-origin: bottom left;
	transform: rotate(-24.31576deg);
}

.body>.tail>.tail2>.tail>.tail>.tail>.tail>.tail {
	height: 10px;
	width: 10px;
	top: 5px;
	-webkit-animation: tail2-6 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	animation: tail2-6 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	-webkit-animation-delay: -0.225s;
	animation-delay: -0.225s;
	transform-origin: calc(100% + 10px);
	transform: rotate(10deg);
}

.body>.tail>.tail2>.tail>.tail>.tail>.tail>.tail,
.body>.tail>.tail2>.tail>.tail>.tail>.tail>.tail:before,
.body>.tail>.tail2>.tail>.tail>.tail>.tail>.tail:after {
	background: #F0E9EC !important;
}

@-webkit-keyframes tail2-6 {

	from,
	to {
		transform: rotate(3deg);
	}

	50% {
		transform: rotate(10deg);
	}
}

@keyframes tail2-6 {

	from,
	to {
		transform: rotate(3deg);
	}

	50% {
		transform: rotate(10deg);
	}
}

.body>.tail>.tail2>.tail>.tail>.tail>.tail>.tail:before,
.body>.tail>.tail2>.tail>.tail>.tail>.tail>.tail:after {
	content: '';
	left: 50%;
	position: absolute;
	height: 50%;
	width: 14.14214px;
	display: block;
	background: #E2DEE8;
}

.body>.tail>.tail2>.tail>.tail>.tail>.tail>.tail:after {
	bottom: 0;
	transform-origin: top left;
	transform: rotate(19.47124deg);
}

.body>.tail>.tail2>.tail>.tail>.tail>.tail>.tail:before {
	transform-origin: bottom left;
	transform: rotate(-19.47124deg);
}

.body>.tail>.tail2 {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	position: absolute;
	right: 50%;
	transform-origin: right center;
	transform: rotate(18deg);
}

.body>.tail>.tail2 .tail {
	border-color: blue;
	z-index: -1;
}

.ears {
	top: 10px;
	left: 35px;
	width: 60px;
	transform: rotateY(20deg);
	transform-origin: bottom left;
}

.ears:before {
	content: '';
	display: block;
	position: absolute;
	width: 60px;
	height: 40px;
	background: #E2DEE8;
	border-top-left-radius: 100%;
	left: -36px;
	top: -16px;
	transform: rotate(-18deg) skewX(-20deg);
}

.ear {
	width: 40px;
	height: 46px;
	bottom: 0;
	transform: skewY(-10deg);
	transform-origin: right bottom;
}

.ear:before,
.ear:after {
	content: '';
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	border-top-left-radius: 100%;
}

.ear:before {
	background: #E2DEE8;
}

.ear:after {
	background: #D5D1DC;
	width: 60%;
	right: 0;
	-webkit-animation: ear-inner 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	animation: ear-inner 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	-webkit-animation-delay: -0.45s;
	animation-delay: -0.45s;
	transform-origin: right;
}

@-webkit-keyframes ear-inner {
	50% {
		transform: scaleX(0.9);
	}
}

@keyframes ear-inner {
	50% {
		transform: scaleX(0.9);
	}
}

.ear:nth-child(1) {
	right: 0;
	-webkit-animation: ear-back 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
	animation: ear-back 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
}

@-webkit-keyframes ear-back {

	from,
	to {
		transform: rotate(5deg) skewY(-10deg);
	}

	50% {
		transform: translateX(-1px) rotate(5deg) skewY(-10deg);
	}
}

@keyframes ear-back {

	from,
	to {
		transform: rotate(5deg) skewY(-10deg);
	}

	50% {
		transform: translateX(-1px) rotate(5deg) skewY(-10deg);
	}
}

.ear:nth-child(2) {
	left: 0;
	transform: skewY(-10deg);
}

.snow {
	position: absolute;
	top: 0;
	left: 0;
	width: 120%;
	height: 100%;
	z-index: 5;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.5s cubic-bezier(0.445, 0, 0.55, 1);
	-webkit-animation: snow-x cubic-bezier(0.445, 0, 0.55, 1) 4s both alternate infinite;
	animation: snow-x cubic-bezier(0.445, 0, 0.55, 1) 4s both alternate infinite;
}

@-webkit-keyframes snow-x {
	from {
		transform: translateX(-10%);
	}

	to {
		transform: translateX(10%);
	}
}

@keyframes snow-x {
	from {
		transform: translateX(-10%);
	}

	to {
		transform: translateX(10%);
	}
}

.fox:hover+.snow {
	opacity: 1;
}

.snow:before,
.snow:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 1vmin;
	height: 1vmin;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 50%;
	-webkit-animation: snow 7s linear infinite;
	animation: snow 7s linear infinite;
	box-shadow: 13.25861vw 139.67724vh rgba(255, 255, 255, 0.8), 13.25861vw 439.67724vh rgba(255, 255, 255, 0.8), 3.33692vw 93.00097vh rgba(255, 255, 255, 0.8), 3.33692vw 393.00097vh rgba(255, 255, 255, 0.8), 15.71913vw 145.09406vh rgba(255, 255, 255, 0.8), 15.71913vw 445.09406vh rgba(255, 255, 255, 0.8), 2.23925vw 31.51639vh rgba(255, 255, 255, 0.8), 2.23925vw 331.51639vh rgba(255, 255, 255, 0.8), 59.28335vw 69.68915vh rgba(255, 255, 255, 0.8), 59.28335vw 369.68915vh rgba(255, 255, 255, 0.8), 73.15496vw 0.89702vh rgba(255, 255, 255, 0.8), 73.15496vw 300.89702vh rgba(255, 255, 255, 0.8), 28.99267vw 75.04718vh rgba(255, 255, 255, 0.8), 28.99267vw 375.04718vh rgba(255, 255, 255, 0.8), 18.16378vw 182.75294vh rgba(255, 255, 255, 0.8), 18.16378vw 482.75294vh rgba(255, 255, 255, 0.8), 26.74055vw 172.37581vh rgba(255, 255, 255, 0.8), 26.74055vw 472.37581vh rgba(255, 255, 255, 0.8), 11.59341vw 100.19958vh rgba(255, 255, 255, 0.8), 11.59341vw 400.19958vh rgba(255, 255, 255, 0.8), 73.38916vw 167.77625vh rgba(255, 255, 255, 0.8), 73.38916vw 467.77625vh rgba(255, 255, 255, 0.8), 46.12167vw 299.04004vh rgba(255, 255, 255, 0.8), 46.12167vw 599.04004vh rgba(255, 255, 255, 0.8), 14.83637vw 114.70726vh rgba(255, 255, 255, 0.8), 14.83637vw 414.70726vh rgba(255, 255, 255, 0.8), 22.21064vw 97.06095vh rgba(255, 255, 255, 0.8), 22.21064vw 397.06095vh rgba(255, 255, 255, 0.8), 1.11018vw 47.36159vh rgba(255, 255, 255, 0.8), 1.11018vw 347.36159vh rgba(255, 255, 255, 0.8), 72.53203vw 78.98874vh rgba(255, 255, 255, 0.8), 72.53203vw 378.98874vh rgba(255, 255, 255, 0.8), 17.07074vw 263.55171vh rgba(255, 255, 255, 0.8), 17.07074vw 563.55171vh rgba(255, 255, 255, 0.8), 51.80913vw 213.68047vh rgba(255, 255, 255, 0.8), 51.80913vw 513.68047vh rgba(255, 255, 255, 0.8), 94.29287vw 107.76805vh rgba(255, 255, 255, 0.8), 94.29287vw 407.76805vh rgba(255, 255, 255, 0.8), 4.92218vw 78.17621vh rgba(255, 255, 255, 0.8), 4.92218vw 378.17621vh rgba(255, 255, 255, 0.8), 76.42138vw 41.70346vh rgba(255, 255, 255, 0.8), 76.42138vw 341.70346vh rgba(255, 255, 255, 0.8), 85.59411vw 54.77948vh rgba(255, 255, 255, 0.8), 85.59411vw 354.77948vh rgba(255, 255, 255, 0.8), 94.03006vw 141.92265vh rgba(255, 255, 255, 0.8), 94.03006vw 441.92265vh rgba(255, 255, 255, 0.8), 96.17748vw 162.11714vh rgba(255, 255, 255, 0.8), 96.17748vw 462.11714vh rgba(255, 255, 255, 0.8), 48.4131vw 268.82724vh rgba(255, 255, 255, 0.8), 48.4131vw 568.82724vh rgba(255, 255, 255, 0.8), 23.36357vw 219.28921vh rgba(255, 255, 255, 0.8), 23.36357vw 519.28921vh rgba(255, 255, 255, 0.8), 97.77077vw 84.17801vh rgba(255, 255, 255, 0.8), 97.77077vw 384.17801vh rgba(255, 255, 255, 0.8), 73.36768vw 18.38761vh rgba(255, 255, 255, 0.8), 73.36768vw 318.38761vh rgba(255, 255, 255, 0.8), 37.34592vw 272.18615vh rgba(255, 255, 255, 0.8), 37.34592vw 572.18615vh rgba(255, 255, 255, 0.8), 15.60764vw 204.77651vh rgba(255, 255, 255, 0.8), 15.60764vw 504.77651vh rgba(255, 255, 255, 0.8), 52.74072vw 165.6057vh rgba(255, 255, 255, 0.8), 52.74072vw 465.6057vh rgba(255, 255, 255, 0.8), 5.82625vw 32.47684vh rgba(255, 255, 255, 0.8), 5.82625vw 332.47684vh rgba(255, 255, 255, 0.8), 60.98735vw 232.12016vh rgba(255, 255, 255, 0.8), 60.98735vw 532.12016vh rgba(255, 255, 255, 0.8), 88.96575vw 25.74157vh rgba(255, 255, 255, 0.8), 88.96575vw 325.74157vh rgba(255, 255, 255, 0.8), 50.232vw 154.57621vh rgba(255, 255, 255, 0.8), 50.232vw 454.57621vh rgba(255, 255, 255, 0.8), 78.09458vw 78.60889vh rgba(255, 255, 255, 0.8), 78.09458vw 378.60889vh rgba(255, 255, 255, 0.8), 30.1206vw 122.38546vh rgba(255, 255, 255, 0.8), 30.1206vw 422.38546vh rgba(255, 255, 255, 0.8), 48.41359vw 23.00353vh rgba(255, 255, 255, 0.8), 48.41359vw 323.00353vh rgba(255, 255, 255, 0.8), 55.78155vw 163.97139vh rgba(255, 255, 255, 0.8), 55.78155vw 463.97139vh rgba(255, 255, 255, 0.8), 26.55439vw 292.4903vh rgba(255, 255, 255, 0.8), 26.55439vw 592.4903vh rgba(255, 255, 255, 0.8);
}

.snow:after {
	width: 1.1vmin;
	height: 8px;
	-webkit-animation-duration: 6s;
	animation-duration: 6s;
}

@-webkit-keyframes snow {
	from {
		transform: rotate(10deg) translateY(-300vh);
	}

	to {
		transform: rotate(10deg) translateY(0);
	}
}

@keyframes snow {
	from {
		transform: rotate(10deg) translateY(-300vh);
	}

	to {
		transform: rotate(10deg) translateY(0);
	}
}

.fox,
.fox:before,
.fox:after {
	position: relative;
}

.for_fox {
	margin-top: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.deposit {
	padding: 11px !important;
	font-weight: bold;
}

.gateway_img {
	width: 60.25px;
	height: 42px;
}

.withdraw_radio {
	box-sizing: border-box;
	appearance: none;
	background: #EAEAEA;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.29);
	box-shadow: -12px -12px 28px #FFFFFF, 14px 14px 40px rgba(0, 0, 0, 0.25);
}

.withdraw_radio:checked {
	background: #7BFFE7;
	;
}

.deposit_radio {
	width: 16px;
	height: 16px;
}

.deposit_radio:checked {
	accent-color: blue;
}

.special_card_deposit {
	border-radius: 20px !important;
	border: 2px solid transparent !important;
	background: linear-gradient(#eff0f0, #eff0f0),
		linear-gradient(#000, #3787FF, #001AFF) !important;
	background-clip: padding-box, border-box !important;
	background-origin: padding-box, border-box !important;
}

.special_card_order {
	border-radius: 20px !important;
	border: 2px solid transparent !important;
	background: linear-gradient(#eff0f0, #eff0f0),
		linear-gradient(#001AFF, #3787FF, #000) !important;
	background-clip: padding-box, border-box !important;
	background-origin: padding-box, border-box !important;
}

.memo_margin {
	font-size: 15px;
	padding-top: 5px;
}

.margin-btn {
	width: 100%;
	font-size: 12px;
	padding: 0 !important;
}

@media screen and (min-width:400px) {
	.manage_margin {
		margin: 1rem 3rem 1rem 3rem;
	}
}

@media screen and (max-width:400px) {
	.manage_margin {
		margin: 0 0 1rem 0;
	}
}

@media screen and (min-width:1200px) {
	.manage_margin_2 {
		margin-left: 2% !important;
		margin-right: 5px !important;
	}
}

@media screen and (max-width:991px) {
	.manage_margin_2 {
		margin: 0% !important;
		margin-right: 5px !important;
	}
}

/* Avatar */

.avatar_img {
	height: 35x !important;
	width: 35px !important;
	border-radius: 50% !important;
}

.avatar_big {
	height: 55x !important;
	width: 55px !important;
	border-radius: 50% !important;
}

.set_margins {
	margin-left: 6.5vw;
	padding-top: 1.2rem;
	padding-bottom: 0.8rem;
}

.avatar {
	border-radius: 18px !important;
	font-size: 15px !important;
	padding-right: 10px !important;
	padding-left: 0px !important;
	color: #cbcbcb !important;
}

.no_button {
	background-color: #f8f9fa !important;
	box-shadow: none;
	padding: 0 20px 0 0 !important;
}

.no_button:hover {
	box-shadow: none !important;
}

.no_button:active {
	box-shadow: none !important;
}


/* Navbar */

.icons_login {
	font-size: 20px;
}

.login_btn{
	position: absolute;
}

.icons_login:hover {
	cursor: pointer;
}

.icon_signout {
	font-size: 15px;
	letter-spacing: 0.07cm !important;
	color: #3d4f0c;
}

.icon_signout:hover {
	font-size: 16px;
}

.number {
	width: 250px;
	border: 3px solid rgb(229, 255, 0);
	padding-left: 8px;
}

.small-text {
	font-size: 15px !important;
	padding: 0px 50px 0px 50px;
}

.manage_profile {
	margin: 0px 0px 10px 40px !important;
	background-color: #eff0f0;
	padding: 15px 25px 15px 25px;
	font-weight: 700;
	text-decoration: none !important;
	color: black;
}

.manage_profile:hover {
	color: #000;
	background-color: #e4e4e4;
}


/* Profile page */

.profile_section {
	border: 1px solid rgb(211, 211, 211);
	border-radius: 6px;
	padding: 20px;
	padding-left: 30px;
}

.avatar_big_2 {
	border-radius: 50%;
	height: 100px;
	width: 100px;
}

.reduce_bold {
	font-weight: 400 !important;
}

.input_profile {
	padding: 10px;
}

.side_navigation {
	background-color: #fff;
}

.link {
	text-decoration: none !important;
}

.change_profile {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	padding: 20px;
}



/* settings page */

.navigate {
	color: blue;
	font-weight: 700;
}


.border_to_card {
	border-radius: 30px !important;
}

.onramper {
	align-items: center;
	justify-content: center;
	display: flex;
}


#tradingview_widget_wrapper div {
	font-size: 0 !important;
}


/*  Order Page */

.special_btn {
	background: #EAEAEA !important;
	box-shadow: -6px -6px 11px #FFFFFF, 6px 6px 12px rgba(0, 0, 0, 0.25) !important;
	border-radius: 20px !important;
	padding: 1rem 2.6rem 1rem 2.6rem !important;
}

.btn-check:active+.special_btn,
.btn-check:checked+.special_btn {
	box-shadow: inset -6px -6px 10px #FFFFFF, inset 6px 6px 10px rgba(0, 0, 0, 0.25) !important;
	border: 1px solid #A0A0A0 !important;
}

.margin_btn {
	font-size: 15px !important;
	padding-left: 1.7rem;
	padding-right: 1.7rem;
}

.close_btn {
	background: #EAEAEA;
	box-shadow: -6px -6px 11px #FFFFFF, 6px 6px 12px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	font-weight: 300;
	font-size: 22px;
	color: #920000;
	border: 2px solid transparent !important;
	background: linear-gradient(#eff0f0, #eff0f0),
		linear-gradient(#000000, #B70000) !important;
	background-clip: padding-box, border-box !important;
	background-origin: padding-box, border-box !important;
}

.enable_scroll_4 {
	height: 115vh;
	overflow-y: scroll;
}

.text_for_order {
	font-style: normal !important;
	font-weight: 300 !important;
	font-size: 16px !important;
	color: #535353;
}

.bit_img {
	height: 41px;
	width: 41px;
}

.v_line {
	border-left: 1px dashed #616161;
	height: 13vh;
	margin-left: 2.3vh;
}

.data_radio {
	box-sizing: border-box;
	appearance: none;
	background: #EAEAEA;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.29);
	box-shadow: -12px -12px 28px #FFFFFF, 14px 14px 40px rgba(0, 0, 0, 0.25);
}

.data_radio:checked {
	box-sizing: border-box;
	appearance: none;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.29);
	background: #43FFF4;
	box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.33);
	border-radius: 12px;
}

.hover_cards:hover {
	transition: all 0.5s ease !important;
	transform: translate3D(0, -1px, 0) scale(1.03);
	cursor: pointer;
}




/* Navigation bar */

.contain{
	max-width: 1100px!important;
}

ul {
	list-style-type: none !important;
	padding: 0 !important;
}

nav {
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	transition: 0.7s !important;
	color: white !important;
	z-index: 2 !important;
}

.brand {
	font-size: 2em !important;
	color: black !important;
	font-weight: 900;
}

.brand:hover{
	cursor: pointer;
}

.ending_margin {
	margin-right: 6vw;
	margin-left: 6vw;
}

@media screen and (max-width:576px) {
	.ending_margin {
		margin-right: 0;
		margin-left: 0;
	}
}

nav .containerinner {
	display: flex !important;
	justify-content: space-between !important;
	align-items: center !important;
	width: 100% !important;
	z-index: 2 !important;
}

.contain{
	display: flex !important;
	align-items: center !important;
	width: 100% !important;
	z-index: 2;
}


nav .container ul:nth-child(2) {
	text-align: right !important;
}

nav .container ul li {
	display: inline-block !important;
	margin: 0 0.7em !important;
}

nav a {
	text-decoration: none;
	font-size: 0.9em !important;
	transition: 0.3s !important;
	font-weight: 500 !important;
	font-size: 22px !important;
	color: #C8C8C8 !important;
}

.navbar {
	border-radius: 5px !important;
	font-family: 'Lato', sans-serif !important;
	background: transparent !important;
	transition: all 0.3s ease !important;
	position: relative !important;
	display: inline-block !important;
	background: linear-gradient(90deg, #EBEBEB -1.11%, #060050 50.5%, #060050 100%) !important;
	box-shadow: -12px -12px 28px #FFFFFF, 14px 14px 40px rgba(0, 0, 0, 0.25) !important;
	outline: none !important;
	border-radius: 25px !important;

}

.navbar {
	border: none !important;
	color: #C8C8C8 !important;
}

.navbar:after {
	position: absolute !important;
	content: "" !important;
	width: 0 !important;
	height: 100% !important;
	top: 0 !important;
	left: 0 !important;
	direction: rtl !important;
	box-shadow:
		-7px -7px 20px 0px #fff9,
		-4px -4px 5px 0px #fff9,
		7px 7px 20px 0px #0002,
		4px 4px 5px 0px #0001 !important;
	transition: all 0.3s ease !important;
}

.navbar:hover {
	color:  #C8C8C8!important;
}

.navbar:hover:after {
	border-radius: 25px !important;
	left: auto !important;
	right: 0 !important;
	width: 100% !important;
}

.navbar:active {
	top: 2px !important;
}

.logo {
	height: 35px !important;
	width: 35px !important;
	cursor: pointer !important;
	border-radius: 50%;
	z-index: 2;
}

.btc {
	height: 55px !important;
	width: 55px !important;
	border-radius: 50%;
}

.manage {
	border-radius: 35px !important;
	padding-left: 1rem!important;
}

#menubtn {
	position: absolute !important;
	left: 87% !important;
	cursor: pointer !important;
	z-index: 2 !important;
}

.menu {
	position: fixed;
	width: 100% !important;
	text-align: center !important;
	font-size: 1.1em !important;
	overflow-y: hidden !important;
	display: none;
	height: 100%;
	top: 0;
	left: 0;
	padding-top: 100px;
	animation: myanime 1.5s;
	z-index: 1 !important;
	color: #000!important;
}

@keyframes myanime {

	0% {
		opacity: 0;
		transition: none;
		height: 0%;
	}

	100% {
		opacity: 1;
		transition: cubic-bezier(0.74, -0.03, 0.83, 0.67);
		height: 100%;
	}

}

#menu-box{
	background: #eff0f0!important;
	color: #000!important;
}

#menu-box ul {
	margin: 2em auto !important;
}

#menu-box li {
	margin: 2em 0 !important;
}

@media screen and (max-width:1100px) {

	.contain{
		display: none;
	}

	nav .container {
		grid-template-columns: 1fr 1fr !important;
	}

	nav .hamburger {
		display: inline-block !important;
	}

	#menu-box ul {
		margin: 0.35em auto !important;
	}

	#menu-box li {
		margin: 0.35em 0 !important;
	}

	.btc {
		margin-top: 10px !important;
		margin-bottom: 0 !important;
		height: 40px !important;
		width: 40px !important;
		position: absolute !important;
		top: 47.5% !important;
		left: 18% !important;
	}

	.para {
		position: absolute !important;
		margin: 0 0 !important;
		top: 50% !important;
		left: 30% !important;
	}

	.manage {
		position: absolute !important;
		margin: 0 0 !important;
		top: 57.5% !important;
		left: 30% !important;

	}
}

.hamburger {
	display: none !important;
}

.display_block{
	display: block;
}

.display_none{
	display: none;
}

.margin_start{
	margin-left: 16vw;
}

.margin_bw{
	margin-left: 4vw;
}

.text_dark{
	color: #000!important;
}
